# SPDX-FileCopyrightText: Copyright 2026 Daniel Balparda <balparda@github.com>
# SPDX-License-Identifier: Apache-2.0

name: ci

on:
  push:
  pull_request:

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']

    steps:

      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install Poetry
        run: pip install poetry

      - name: Install deps
        run: poetry install

      - name: Lint
        run: poetry run ruff check .

      - name: Format
        run: poetry run ruff format --check .

      - name: Typecheck
        run: poetry run mypy src

      - name: Tests & Coverage
        run: poetry run pytest --cov=src --cov-report=term-missing
